.page-header
  %h1 Корзина
-if @line_items.blank?
  .alert.alert-info В корзине нет товаров
-else
  .list-group
    -@line_items.each_with_index do |line_item, i|
      .list-group-item
        .pull-right
          %span.text-danger="#{i+1}"
          \|
          %span.text-info=line_item.product.name
          \|
          =line_item.quantity
          &times;
          =number_to_currency(line_item.price)
          ="= #{number_to_currency(line_item.total_price)}"
          %span.btn.btn-group
            =link_to line_item_path(id: line_item.id, place: "line_items"), class: 'btn btn-default', data: {method: :delete, confirm: 'Вы уверены?'} do
              =fa_icon "minus"
            =link_to line_items_path(id: line_item.id, place: "line_items"), class: 'btn btn-default', data: {method: :post} do
              =fa_icon "plus"
        .clearfix
  .alert.alert-info
    Всего
    =@line_items.to_a.sum(&:quantity)
    #{Russian.p(@line_items.to_a.sum(&:quantity),'товар','товара','товаров')} на сумму
    =number_to_currency @line_items.to_a.sum(&:total_price)

.br

= link_to @cart, data:{method: :delete, confirm: "Вы уверены?"}, class: "btn btn-primary" do
  =fa_icon "times-circle"
  Очистить корзину
= link_to root_path, class: "btn btn-info" do
  =fa_icon "external-link-square"
  Вернуться к выбору товаров
= link_to products_path, class: "btn btn-danger disabled" do
  =fa_icon "money"
  Оформить заказ